*{
    font-family: serif;
}


body{
    margin:0px;
    padding:0px;
    /* background-color: rgb(200,200,200); */
}

/* new */
/* ===============header================= */
.brand{
    position: relative;
    height:17vh;
    background:black;
    color:white;
    
}

.brand div{
    position: absolute;
    top:54%;
    left:5%;
    line-height: 17px;
}

.logo{
    font-size: 35px;
    font-style:italic;
}

nav{
    background:#191919; 
    width:100%;
}

nav ul{
    list-style-type: none;
    display:flex;
    margin:0px;
    padding:4px 0px 2px 0px;
    margin-left:5%;
}

nav ul li{
    margin-right:2%;
}

nav a{
    text-decoration: none;
    color:white;
    font-weight: lighter;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover, a:active{
    text-decoration: none;
    color:rgba(255,255,255,0.79);
}

nav .inner-nav label{
    display:none;
}

.header-site-info{
    position: relative;
    height:510px;
    background:#191919;
    color:white;
    
}

.toggle-check label{
    float:right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: xx-large;
    background:black;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border:solid 0.5px white;
    display: none;
    cursor: pointer;
}


.headerImage{
    position: absolute;
    width:50%;
    height:100%;
    background-size: contain;
    background-image: url("./headerImage.jpg");
    background-attachment: fixed;

}

.header-site-info .aboutText{
    position: absolute;
    left:55%;
    top:10%;
    text-align: justify;
    width:37%;
}

.header-site-info .aboutText span{
    line-height: 200%;;
    font-family: 'Tangerine', cursive;
    font-size:xx-large;
}

.header-site-info .aboutText .heading{
    font-size: 60px;
    font-style: italic;
    line-height: 150%;
    font-family: serif;
}

.header-site-info .aboutText p{
    letter-spacing: 2px;
    margin-top:7%;
    line-height: 160%;
    color:#D4DDDA;
    font-weight: bolder;
    font-family: 'Tangerine', cursive;
    font-size:x-large;
}


/* ===============end header================= */

#container{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

footer .section1{
    background: black;
    height:650px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    padding: 1%;
}
footer .contact-details{
    color:white;
    margin:auto 0px;
    text-align: center;
}

footer .contact-details span{
    font-family: 'Tangerine', cursive;
    font-size:x-large;
}

footer .contact-details .footer-heading{
    font-size: 500%;
}

footer .contact-details a{
    color:white;
    text-decoration: none;
    font-family: 'Tangerine', cursive;
    font-size:xx-large;

}

footer .contact-form-div{
    margin:auto 0px;
    padding-left:5%;
}

footer .contact-form-div input[type="text"], input[type="email"], textarea{
    background:transparent;
    padding:3%;
    color:white;
    width:90%;
    margin:7px;
    outline:none;
    border:1.5px solid white;
    resize:none;
}

footer .contact-form-div input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
    border:1.5px solid green;
    transition: 0.5s ease-in-out;
}

footer .contact-form-div .message-box #contact-form-button{
    position: absolute;
    top:90%;
}

footer .contact-form-div input[type="text"]::placeholder , input[type="email"]::placeholder, textarea::placeholder{
    font-size: small;
    font-weight: lighter;
    color:#999999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


footer .contact-form-div .message-box{
   width:100%;
   resize: both;
   position: relative;
}

footer .contact-form-div .message-box input{
    position: absolute;
    top:71%;
    left:32%;
}

footer .contact-form-div .message-box input[type="submit"]{
    color:black;
    padding:3% 10%;
    background: white;
    border:1px solid black;
    font-size: larger;
}

footer .contact-form-div .message-box input[type="submit"]:hover{
    border: 1px solid mintcream;
}
/* =================================footer=================== */


/* =======================================Responsive====================================== */
@media only screen and (max-width: 767px){
    .headerImage{
        position: unset;
        width:0%;
        height:0%;
        background-size: unset;
        background-image: url("");
        background-attachment: unset;
    }

    .header-site-info{
        background-size: cover;
        background: url("./headerImage1.jpg") no-repeat;
        background-attachment: unset;
        height:500px;
    }

    .header-site-info .aboutText{
        position: absolute;
        left:10%;
        top:10%;
        width:85%;
    }
    
    .header-site-info .aboutText .heading{
        font-size:42px;
        line-height: 100%;
    }

    .header-site-info .aboutText span{
        color:black;
    }

    .header-site-info .aboutText p{
        color:black;
        font-size: xx-large;
    }

    .header-site-info .aboutText span{
        line-height: 150%;
    }

    .toggle-check label{
        display:block;
    }

    
    nav{
        position: fixed;
        z-index: 1;
        left:-100%;
        transition: all 0.5s;
        width:60%;
        height:100%;
        top:0px;
        margin:0px;
    }

    nav ul{
        text-align: center;
        list-style-type: none;
        display:block;
        line-height: 500%;
        margin:0%;

    }

    nav ul li {
        border-bottom: solid 1px black;
        margin:0px;
    }

    nav a{
        font-size: x-large;
        font-family: 'Tangerine', cursive;
        
    }
    
    nav ul li:hover, a:active{
        color:rgba(255,255,255,0.78);
        background: black;
    }

    .inner-nav{
        position: relative;
    }
    
    nav .inner-nav label{
        display:block;
        position: absolute;
        color:white;
        float:right;
        right:25px;
        top:25px;
        font-size:x-large;
        cursor: pointer;
        color:#D4DDDA;
    }


    #toggler:checked ~ nav{
        left:0%;
        
    }

    footer .section1{
        height:780px;
    }
    
}

@media only screen and (max-width: 425px){
    .header-site-info .aboutText p{
        color:black;
        font-size:x-large;
    }
}


/* =======================================end Responsive====================================== */

/* =======================================END FOOTER==================================== */

/* end new */

/* ========================================================================================================== */
/* .mymail{
    background:#272a2d;
    text-align: center;
    padding:0.1rem;
    
}


.mymail .text a{
    text-decoration: none;
    color:rgba(255,255,255,0.8);
    letter-spacing: 0.1rem;

}

.mymail .text a:hover{
    color:white;
    letter-spacing: 0.3rem;

}


.post-content{
    margin-top:2rem;
    margin-bottom:2rem; 
    border-radius: 15px;
    border:1px rgb(150,150,150) solid;
    padding:1.5rem;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
    background-color: white;
}



.post-title a{
color:#333;
text-decoration:none;
}

.post-title a:hover{
    color:cornflowerblue; 
    text-decoration: none;
    transform: scaleY(1.2);
}

#profile-image {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

div.account-heading{
    margin:2rem 0rem 0rem 5px;
}
 */
