@import url(//db.onlinewebfonts.com/c/16efa2896f117dae2debeb23ab4715dd?family=DidoteTextW01-Italic);
.body{
    margin:0px;
    padding:0px;
    background-color: rgb(200,200,200);
}

.mymail{
    background:#272a2d;
    text-align: center;
    padding:0.1rem;
    
}

.mymail .text a{
    text-decoration: none;
    color:rgba(255,255,255,0.8);
    letter-spacing: 0.1rem;

}

.mymail .text a:hover{
    color:white;
    letter-spacing: 0.3rem;

}

.nav-link{
    font-family: Didot--eText--Italic, serif;
}

.post-content{
    margin-top:2rem;
    margin-bottom:2rem; 
    border-radius: 15px;
    border:1px rgb(150,150,150) solid;
    padding:1.5rem;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
    background-color: white;
}



.post-content .post-title a{
color:#333;
text-decoration:none;
}

.post-content .post-title a:hover{
    color:cornflowerblue; 
    text-decoration: none;
    transform: scaleY(1.2);
}

#profile-image {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

div.account-heading{
    margin:2rem 0rem 0rem 5px;
}

.raq{
    font-size: 40px;
}



.nav-item .nav-link h2{
    font-family: Didot--eText--Italic, serif;
    font-style: italic;
}