.body{
    margin:0px;
    padding:0px;
    /* background-color: rgb(200,200,200); */
}

/* new */
/* ===============logo/header of the page================= */
header {
    font-family: serif;
    font-style:italic;
    font-size: xx-large;
    height:6rem;
    background-color: black;
    color:white;
    position: relative;;
}

header .logo{
  position: absolute;
  top:2.5rem;
  margin-left: 5rem;
  line-height: 80%;
  font-family:  serif;
}

#below-logo-text{
    font-family: serif;
    font-style: normal;
    font-size: medium;
}
/* ===============end logo/header of the page================= */

/* ======================================section1=============================== */
#section1{
    height:542px;
    background: #191919;
    overflow: hidden;
}

#section1 .outer{
    position: relative;
}


#section1 .outer .navigation-bar ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

#section1 .outer .navigation-bar ul li {
    flex-direction: row;
    margin-left: 2rem;
}

#section1 .outer .navigation-bar ul li a{
    color:#D4DDDA;
    font-family: serif;
    font-size: medium;
    text-decoration: none;
    font-weight: lighter;
}

.about-info{
    position: absolute;
    top:28px;;
    left:0rem;
    display: flex;
    text-align: justify;
    text-justify: inter-word;
}


.about-image{
    width:700px;
    height:700px;
    background-size: cover;
    background-image: url("./headerImage.jpg");
    background-attachment: fixed;
    flex-direction: row;
}

.about-text{
    color:white;
    width:32rem;
    margin-left:3rem;
    margin-top:5rem;

}

#aboutheading {
    font-family: sans-serif;
    font-style: italic;
    line-height: 1.6;
    font-size: 400%;
    margin-bottom: 2rem;
    font-weight: bold;
}

#about-text-outer{
    color:#D4DDDA;

}

#welcome-text{
    color:#D4DDDA;
    font-weight: lighter;
    font-size: small;
    letter-spacing: 0.09rem;
    line-height: 1.6;
}
/* ======================================end section1=============================== */

/* =======================================FOOTER==================================== */
footer{
    height:40rem;
    background: black;
    margin-top: 10rem;
    color:white;
}    

footer .section-foooter-top{
}

footer .section-foooter-top .outer-elements{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer .section-foooter-top .outer-elements .contact-details{
    flex-direction: row;
    margin-top: 15rem;
    justify-content: space-around;
}

footer .outer-elements .contact-details a{
    text-decoration: none;
    color:white;
}

footer .outer-elements .contact-details h1{
    font-size: 100px;;
    /* font-style: italic; */
    font-family: serif;
}

footer .outer-elements .contact-details .details div{
    line-height: 150%;
}

footer .section-foooter-top .outer-elements .contact-form-div{ 
    margin-top:5rem;
}

.contact-form-div div {
    margin-bottom: 0.8rem;
}

.contact-form-div div textarea {
    position: relative;
}

.contact-form-div input[type="submit"]{
    padding:15px 30px;   
    border-radius: 0px; 
    outline:none;
    border:2px solid black ;
    color:black;
    font-size: large;
    font-weight: bold;
}

.message-box{
    position: relative;
}

.message-box div{
    position: absolute;
    left:11rem;
    top:7rem;
}

.contact-form-div input[type="submit"]:hover{
    border: 2px solid blueviolet;
    transition: 1s;
}

.contact-form-div div .form-element{
    background:black;
    color:white;
    outline: none;
    border:1px solid white;
    width:30rem;
    padding:10px 20px ;

}

.contact-form-div div .form-element:focus{
    background:black;
    color:white;
    outline: none;
    border:1px solid green;
    width:30rem;
    padding:10px 20px ;
    transition: 0.8s;
}

.contact-form-div div ::placeholder{
    color:white;
}

/* =======================================END FOOTER==================================== */

/* end new */

/* ==================================================== */
.mymail{
    background:#272a2d;
    text-align: center;
    padding:0.1rem;
    
}


.mymail .text a{
    text-decoration: none;
    color:rgba(255,255,255,0.8);
    letter-spacing: 0.1rem;

}

.mymail .text a:hover{
    color:white;
    letter-spacing: 0.3rem;

}


.post-content{
    margin-top:2rem;
    margin-bottom:2rem; 
    border-radius: 15px;
    border:1px rgb(150,150,150) solid;
    padding:1.5rem;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
    background-color: white;
}



.post-title a{
color:#333;
text-decoration:none;
}

.post-title a:hover{
    color:cornflowerblue; 
    text-decoration: none;
    transform: scaleY(1.2);
}

#profile-image {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

div.account-heading{
    margin:2rem 0rem 0rem 5px;
}

