{% extends 'blog/main.html' %}
{% block title %}
Feedback
{% endblock %}

{% block css %}
<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- end bootstrap css  -->

<!--Import Google Icon Font-->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>

</style>
{% endblock %}
<!-- end css block -->

{% block content %}
   <!-- feedback form -->
   <div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span class="text-muted" style="font-size: large;">
                        Feedback Form
                    </span>
                </div>
                <div class="card-body">
                    <form method="POST" id="feedbackform">
                        <div class="form-row">
                          <div class="form-group col-md-6 col-sm-12">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" name="fullName" id="fullName" required>
                          </div>
                          <div class="form-group col-md-6 col-sm-12">
                            <label for="phone">Phone Number</label>
                            <input type="text" class="form-control" id="phone" required>
                          </div>
                          <div class="form-group col-md-12 col-sm-12">
                              <label for="mail">Your Email</label>
                              <input type="mail" class="form-control" id="mail" required>
                            </div>
                            <div class="form-group col-md-12 col-sm-12">
                                <label for="message">Your Feedback</label>
                                <textarea class="form-control" id="message" rows="3" name="message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- feedback form ends -->

{% endblock %}
{% block JS %}
<script>
    $(document).on('submit', '#feedbackform', function (event){
        event.preventDefault();
        $.ajax({
            type:'POST',
            url:"{% url 'blogs:feedback' %}",
            data:{
                'fName':$('#fullName').val(),
                'cntct':$('#phone').val(),
                'message':$('#message').val(),
                'mail':$('#mail').val(),
                csrfmiddlewaretoken:'{{csrf_token}}',
            },
            success:function (response){
                if(response.data == 'saved' ){
                    swal('Thanks For Your Feedback', '', 'success');
                }
                else {
                    swal('Oops', 'Some Error Occurred', 'error');
                }
            }
        })
    })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

{% endblock %}