{% extends 'blog/main.html' %}
{% block title %}
Detail
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="post-content">
    <p><a href="{% url 'blogs:user-blogs' object.author.username %}"
            style="text-decoration: none;">{{object.author}}</a>&nbsp&nbsp&nbsp
        {{object.posted_on}}</p>
    {% if object.author == user %}
    <p><a href="{% url 'blogs:blog-update' object.pk %}" class="btn btn-info btn-sm ">Update Blog</a>
        <a href="{% url 'blogs:blog-delete' object.pk %}" class="btn btn-danger btn-sm ">Delete Blog</a></p>
    {% endif %}
    <hr>
    <h1>{{object.title|title}}</h1>


    <p>{{object.content|linebreaks}}</p>
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <legend>Comment Here!</legend>
        <fieldset>
            <div class="form-row">
                <div class="form-group col-md-12 mb-1">
                    {{ form.body}}
                </div>
            </div>
            <button class="btn btn-info">Comment</button>
        </fieldset>
    </form>
    {% else %}
    <hr color='black'>
    <h5 class='text-muted'>Login To Make Comment <a href="{% url 'login' %}">Login</a></h5>
    {% endif %}

    <h2>Comments:</h2>
    <hr>
    {% if comments %}
    {% for comment in object.comment_set.all|dictsortreversed:'commented_on' %}
    <p>
        <small>
            On {{comment.commented_on|date:'M d, Y' }}&nbsp&nbsp
            <b>{{ comment.user }}</b> wrote:
        </small>

    </p>

    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}
    {% else %}
    <center>
        <h3 class='text-muted'>No Comments Yet!</h3>
    </center>
    {% endif %}

</div>

{% endblock %}