{% extends 'blog/main.html' %}
{% block title %}
Delete
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class='border-bottom mb-4'>Do You Really Want To Delete The Post!</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger btn-sm p-2" type='submit'>Yes</button>
            <a href="{% url 'blogs:blog-detail' object.pk %}" class="btn btn-success btn-sm p-2 ml-1">No</a>
        </div>
    </form>
</div>
{% endblock %}