{% extends 'blog/main.html' %}
{% block title %}
All Posts
{% endblock %}

{% block css %}
<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- end bootstrap css  -->
{% endblock %}

{% block content %}
{% for post in  posts %}
<div class="">
    <p class="text-muted">{{post.author}}&nbsp&nbsp&nbsp {{post.posted_on}}</p>
    <hr>
    <div class="post-title">
        <a href="{% url 'blogs:blog-detail' post.id %}">
            <h1>{{post.title|title}}</h1>
        </a>
    </div>
    <p>{{post.content|slice:":400"}}&nbsp<a href='{% url "blogs:blog-detail" post.pk %}'>more</a>...</p>

</div>
{% endfor %}

{% endblock %}