{% extends 'blog/main.html' %}
{% block title %}
Logout
{% endblock %}

{% block css %}
<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- end bootstrap css  -->
{% endblock %}

{% block content %}
<div class="post-content">
    <h1>You Are Logged Out</h1>
    <h2>Good Bye {{user.username}}</h2>
    <div class="text-muted mt-2">
        Click to <a href="{% url 'login' %}">Login again</a>
    </div>
</div>
{% endblock %}