{% extends 'blog/main.html' %}
{% block title %}
Profile
{% endblock %}

{% block css %}
<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- end bootstrap css  -->
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="post-content">
    <div class="media">
        <img class="rounded-circle account-img" style="height:125px;width:125px;margin:0px 2rem 2rem 0rem;"
            height='125px' src="https://img.icons8.com/nolan/96/name.png">
        <div class="media-body">
            <h2 class="account-heading" style='margin:4rem 0rem 0rem 0px;'>{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
        </div>
    </div>
    <!-- FORM HERE -->
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class="border-bottom">
                <h1>Update Profile</h1>
            </legend>
            {{user_form|crispy}}
            {{profile_form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type='submit'>Update</button>
        </div>
    </form>

</div>
{% endblock %}